.DS_Store
mlflow-env/
yellow_tripdata/
output/
green_tripdata/
mlruns/
models/
models_xgboost_mlflow/
module02/
preprocessor
sqlite/
mlflow.db
*.bak
*.db
*.b
models.preprocessor.b
.virtual_documents/
.ipynb_checkpoints/
__pycache__/